body {
    font-family: serif, Garamond;
    background-color: rgba(0, 149, 255, 0.256);
    background: url(background4.jpeg) center fixed ;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-width: 960px;

  }
  
h1.title {
  text-align: center;
  color: rgb(3, 27, 68);
  font-size: 60px;
}

a {
  color: rgb(3, 130, 147);
  text-decoration: none;
  white-space: nowrap;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  color: #777;
  line-height: 1.4;
  padding-bottom: 80px;
}

.clickable-h2 {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-left: 50px
}

.main {
  display: flex;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
}

.main::-webkit-scrollbar {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
}

.main::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 1000px;
}

.clickable-h2 {
  white-space: nowrap;
  margin-right: 20px;
}

.logo {
  position: absolute;
  top: 24px;
  left: 0;
  height: 100px;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
}

@media (max-width: 800px) {
  .linkedin {
    display: none;
  }
}

.linkedin {
  position: absolute;
  top: 54px;
  right: 30px;
  height: 40px;
}

  