body {
    font-family: serif, Garamond;
    margin: 0;
    background-color: rgba(0, 149, 255, 0.256);
}

.title {
    text-align: center;
    color: rgb(3, 27, 68);
    padding-bottom: 50px;
    font-size: 20px;
}

#market-updates-table-1 {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}


#market-updates-table-2 {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

th {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 20px;
    white-space: nowrap;
}


